name: short-number-docs

services:
    app:
        image: short-number-docs
        container_name: short-number-docs
        build: .
        volumes:
            - .:/app:z
        ports:
            - 3000:5173
