:root {
    --vp-c-brand-1: #c72245 !important;
    --vp-c-brand-2: #db2663 !important;
    --vp-button-brand-bg: #c72245 !important;
    --vp-button-brand-hover-bg: #db2663 !important;

    /* Home Hero */
    --vp-home-hero-name-color: transparent !important;
    --vp-home-hero-name-background: -webkit-linear-gradient(190deg, #c72245, #db2663) !important;
}

.dark {
    --vp-c-brand-1: #e54e6e !important;
    --vp-c-brand-2: #ce507b !important;
    --vp-button-brand-bg: #e54e6e !important;
    --vp-button-brand-hover-bg: #ce507b !important;

    /* Home Hero */
    --vp-home-hero-name-color: transparent !important;
    --vp-home-hero-name-background: -webkit-linear-gradient(190deg, #e54e6e, #ce507b) !important;
}